[Desktop Entry]
Encoding=UTF-8
Name=ReenactGAN: Learning to Reenact Faces via Boundary Transfer에 링크
Type=Link
URL=https://wywu.github.io/projects/ReenactGAN/ReenactGAN.html
Icon=text-html
