[Desktop Entry]
Encoding=UTF-8
Name=wywu/ReenactGAN: [ECCV 2018] ReenactGAN: Learning to Reenact Faces via Boundary Transfer에 링크
Type=Link
URL=https://github.com/wywu/ReenactGAN
Icon=text-html
