<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>이미지 전처리 페이지</title>
</head>
<body>
<h1>해보기1 이미지 전처리 페이지</h1>
<form action="/imgPre"  method="post" enctype="multipart/form-data">
    <input type="file" name="imgFile" >
    <br/>
    <span>
        180 회전
        <input type ="checkbox" name ="rotate">
    </span>
    <br/>
    <span>
        사이즈변경 1920-1080
        <input type="checkbox" name="resize">
    </span>
    <br/>
    <button type="submit">발사</button>
    <br/>
    {{label}}
</form>

</body>
</html>